# --- ROS 2 Workspace ---
software/ros2_ws/build/
software/ros2_ws/install/
software/ros2_ws/log/

# --- Python & C++ ---
__pycache__/
*.pyc
*.o
*.so
*.out

# --- PlatformIO (ESP32) ---
firmware/esp32_mcu/.pio/
firmware/esp32_mcu/.vscode/

# --- CAD Design Software ---
~$*.sldprt
~$*.sldasm
~$*.slddrw
*.bak

# --- AI Model & Dataset ---
*.pt
*.onnx
dataset/
images/

# --- Operating System ---
.DS_Store
Thumbs.db