# Mechanical (SolidWorks/AutoCAD)
~$*.sldprt
~$*.sldasm
~$*.slddrw
*.bak

# Embedded (PlatformIO / ESP32)
.pio/
.vscode/
*.bin
*.elf

# Software (ROS 2 / Python / C++)
build/
install/
log/
__pycache__/
*.pyc
*.o
*.so

# Operating System
.DS_Store
Thumbs.db